<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Book</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="content">
    {% if message %}
      <div class="message-container">
        <p>{{ message }}</p>
      </div>
    {% endif %}

    <div class="form-container">
      <h2>Add Book</h2>
      <form action="/add_book" method="POST">

        <label for="title">Book Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="publication_year">Publication Year:</label>
        <input type="number" id="publication_year" name="publication_year"><br><br>

        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn"><br><br>

        <label for="author">Select Author:</label>
        <select id="author" name="author" required>
          <option value="" disabled selected>Choose an Author</option>
          {% for author in authors %}
            <option value="{{ author.id }}">{{ author.name }}</option>
          {% endfor %}
        </select>
        <br><br>

        <input type="submit" value="Add Book">
      </form>
    </div>
  </div>
</body>
</html>